/* GLOBAL STYLE  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}





/* ------------------------------------------------------------------ */
/* HOME PAGE */
.home-page {
    height: 100vh;
    width: 100%;
    background-color: #141414;
}

/* Top Menu Bar  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

/* Portfolio Logo */
.logo {
    color: #ffffff; 
    text-decoration: none;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: crosshair;
}

.logo span {
    color: #e00000; 
}

/* Nav Menu  */
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.nav-menu li a {
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.nav-menu li a:hover {
    color: #e00000; 
    transition: .4s;
}

/* Home Page Content */
.content {
    position: absolute;
    top: 25%;
    left: 30%
}

 /* "Hello, my name is" */
 .content h3 {
    color: white; /* da cambiare */
    letter-spacing: 2px;
    font-size: 20px;
}

.content h3 span {
    color: #e00000;
}

/* "Pierluigi Bertoli" */
.content h1 {
    color: #ffffff; 
    margin: 20px 0px 20px;
    font-size: 75px;
    letter-spacing: 1px;

}

.content h1 span {
    display: inline-block;
    cursor: zoom-in;
    transition: 0.2s ease-out;
}

.content h1 span:hover {
    color: #e00000;
    transform: scale(1.2);
}

/* "I'm a Web Developer" */
.content h2 {
    color: white; /* da cambiare */
    font-size: 25px;
    margin-bottom: 50px;
}

.content h2 span {
    color: #e00000;
}

/* "My Skills"  */
.content h4 {
    color: white; /* da cambiare */
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
}

.content h4 span {
    color: #e00000;
}

/* Skill List  */
.skill-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.skill-list li {
    color: #ffffff; 
    background-color: #141414; 
    Border: 2px solid #ffffff;
    padding:  5px 20px 5px 20px;
    font-size: 16px;
    margin: 0 15px;
    border-radius: 3px;
    font-weight: 600;
    cursor: crosshair;
    transition: 0.4s;
}

.skill-list li:hover {
    color: #e00000; 
    Border: 2px solid #e00000;
}

/* To-Do:
- Fare Check Colori e Opacità 
- Sistemare Classi css
- Sistemare Commenti e Indentazione*/





/* ------------------------------------------------------------------ */
/* ABOUT-PAGE STYLE  */
.about-page {
    height: 100vh;
    width: 100%;
    background-color: #141414;  
    padding: 125px 0px;
}

.about-container {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
}

.about-image {
    height: auto;
    width: 350px;
}

.about-text {
    width: 650px;
    height: 466.66px;
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}   

.about-text-bio h2 {
    color: #ffffff;
    font-size: 50px;
    text-transform: capitalize;
    line-height: 50px;
    margin-bottom: 15px;

}

.about-text-bio h2 span {
    color: #e00000; 
}

.about-text-bio h5 {
    color: #ffffff;
    font-size: 22px;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 30px;
}


.about-text-bio p {
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;  
    margin-bottom: 50px;
    text-align: left;
}

.about-text-quote {
    color: #ffffff;
    text-align: right;
    font-size: 19px;
}

.about-text-quote span {
    color: #e00000;
}

/* To-Do:
- Fare Check Colori e Opacità 
- Sistemare Classi css
- Sistemare Commenti e Indentazione*/





/* ------------------------------------------------------------------ */
/* CONTACT & FEEDBACK PAGE STYLE  */
.contact-feedback-page {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #ffffff; /* da cambiare */
}

.contact-section {
    height: 100%;
    width: 50%;
    padding: 125px 0px;
    background-color: red;
}






.feedback-section {
    border: 2px solid black;
    height: 100%;
    width: 50%;
    padding: 125px 0px;
    background-color: white;
    text-align: center;
}

.feedback-section form {
    border: 2px solid black;
    width: 50%;
    height: 94%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.feedback-section form input[type='text'] {
    color: aqua;
    font-size: 16px;
    
}

.feedback-section form input[type='email'] {
    font-size: 16px;
}




.comment-row {
    display: flex;
    flex-direction: column;
}

.comment-row textarea {
    resize: none;
}






.contact-page-content {
    color: white; 
    /* border: 2px solid white; */
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

/* "Get in touch with me"  */
.contact-page-content h2 {
    /* border: 1px solid red; */
    font-size: 75px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 15px;
}


/* Social Button  */
.social-btn {
    /* border: 1px solid red; */
    color: #ffffff;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.social-btn li a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 40px;
    margin-left: 50px;
}


.social-btn li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 3px;
    background: #ffffff;
    transition: 0.4s;
}

.social-btn li a:hover::after {
    left: 0;
    width: 100%;
}

/* "At" - "Or" */
.contact-page-content h3 {
    /* border: 1px solid red; */
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 25px;
}


/* Email  */
.contact-page-content h1 {
    /* border: 1px solid red; */
    /* letter-spacing: 1px; */
    font-size: 60px;
    font-weight: 600;
    text-align: left;
    margin-left: 50px;
}

